
{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


{% block javascripts %}


{{ encore_entry_script_tags('app') }}


{% endblock %}

{% block body %}

<header>

<img id="logo" src="https://www.pngkey.com/png/full/481-4819402_nasa-logo-png-transparent-logo-nasa-hd-png.png"></img>
<h1>Mars Rover Photos</h1>

</header>

        <h2>Rechercher une photo à partir d'une date</h2>


   <form method = "GET" >
                <div class="inner-form">
                    <div class="input-field">
                         <input type="text" name="date" placeholder="Format obligatoire : AAAA-MM-JJ" value="" id="Date" >
                         <button id="btn" type="button">Rechercher</button>
                        </div>
                    </div>      
            </form>
            
            <h3 id="err"></h3>
            <img id="image" src="https://cnes.fr/sites/default/files/drupal/201607/image/is_mars.jpg"></img>
           

            
{% endblock %}

