* { 

    box-sizing: border-box;

}


body {
    
    
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {

    height: 150px;

}

#logo {


    margin-top: 20px;
    height: 100px  


}

header {

    padding-left: 50px;
    
}

#image {

    width: 400px;
    height: 400px;
    margin-left: 550px;
    margin-top: -50px;

    
    

}

input[type=text] {


    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    padding: 17px 30px;
    border: none;
    width: 50%;
    font-size: 20px;
    height: 50px;

}

button[type=button] {

    cursor: pointer;
    padding: 17px 30px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #0b3d91;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    text-align: center;

}

form {

    text-align: center;
    margin-top: 30px;



}

h2 {

    margin-top: 20px;
    color: white;
    text-align: center;

}

h3 {

    margin-top: 100px;
    color: #dd361c;
    text-align: center;
    font-size: 30px;

}

h1 {

    color: white;
    margin-top: -50px;
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;

}
